<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>UniSA Allowcate+</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-sandstone.min.css" rel="stylesheet" />
</head>
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#/">UniSApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/signup" ng-hide="authentication.isAuth">SignUp</a>
                </li>
                <li class="nav-item">
                    <a ng-hide="authentication.isAuth" class="nav-link" href="#/login">Login</a>
                </li>
                <li>
                    <a href="" class="nav-link" ng-hide="!authentication.isAuth" ng-click="logout()">Logout</a>
                </li>
                <li>
                    <a href="" class="nav-link" ng-click="relocate()">Relocate</a>
                </li>
                <li>
                    <label class="mr-sm-2">
                        <font size="3" color="white">{{debugStr}}</font>
                    </label>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <label class="mr-sm-2">
                    <font size="3" color="white">Welcome {{authentication.userName}} !</font>
                </label>
            </form>
        </div>
    </nav>
    <ng-view></ng-view>
</div>
<body>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-local-storage.min.js"></script>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/angular-resource.min.js"></script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app//index-controller.js"></script>
    <script src="../app/authentication/login-controller.js"></script>
    <script src="../app/home/home-controller.js"></script>
    <script src="../app/authentication/authService.js"></script>
    <script src="../app/authentication/signup-controller.js"></script>
    <script src="../app/authentication/login-controller.js"></script>
</body>
</html>
