################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniSA.Api/bin
/UniSA.Api/obj/Debug
/UniSA.Web/bin
/UniSA.Web/obj/Debug
