<!-- Login Form -->
<div class="container space-2">
    <!-- Login Form -->
    <div class="container space-2">
        <form class="js-validate w-md-75 w-lg-50 mx-md-auto shadow p-3 mb-5 bg-white rounded" name="loginForm" novalidate>
            <!-- Title -->
            <div class="mb-7">
                <h2 class="h3 text-primary font-weight-normal mb-0">Welcome <span class="font-weight-semi-bold">back.</span></h2>
                <p>Login to your account.</p>
            </div>
            <!-- End Title -->
            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="form-label" for="signinSrEmail">Email address</label>
                <input type="text" class="form-control" name="emailOrUserName" id="emailOrUserNameId" placeholder="User Name or Email address" ng-model="input.emailOrUserName" required
                       data-msg="Please enter a valid account name or email address."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success">
            </div>
            <!-- End Form Group -->
            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="form-label" for="signinSrPassword">
                    <span class="d-flex justify-content-between align-items-center">
                        Password
                        <a class="link-muted text-capitalize font-weight-normal" href="#/">Forgot Password?</a>
                    </span>
                </label>
                <input type="password" class="form-control" name="password" id="passwordId" placeholder="********" aria-label="********" ng-model="input.password" required
                       data-msg="Your password is invalid. Please try again."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success">
            </div>
            <!-- End Form Group -->
            <!-- Button -->
            <div class="row align-items-center mb-5">
                <div class="col-6">
                    <span class="small text-muted">Don't have an account?</span>
                    <a class="small" href="#/signup">Signup</a>
                </div>
                <div class="col-6 text-right">
                    <button type="submit" class="btn btn-primary transition-3d-hover" ng-disabled="loginForm.$invalid && !isRefreshTokensAvailable" ng-click="login()">Login</button>
                </div>
            </div>

            <!--<div class="js-form-message form-group">
                <div style="color:red;">{{message}}aaaa</div>
            </div>-->
            <!-- End Button -->
        </form>
    </div>
</div>

<!-- End Login Form -->
<!--<div ng-controller="loginController">
    <div class="container">
        <form name="loginForm" style="margin-top:20px"  novalidate>
            <fieldset>
                <legend>Login</legend>
                <div style="margin-left:15px">
                    <div class="form-group row">
                        <label for="emailAddress">Account Name / Email</label>
                        <input type="text" ng-disabled="isRefreshTokensAvailable" class="form-control" id="emailOrUserNameId" name="emailOrUserName" ng-model="input.emailOrUserName" placeholder="Account Name / Email" required>
                        <small id="passwordConfirmHelp" style="color: red;" ng-show="loginForm.emailOrUserName.$error.required && loginForm.emailOrUserName.$dirty">Please enter an account name or an email address.</small>
                    </div>
                    <div class="form-group row" ng-hide="isRefreshTokensAvailable">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="passwordId" name="password" ng-model="input.password" placeholder="Password" required>
                        <small id="passwordHelp" style="color: red;" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Please enter a password.</small>
                    </div>
                    <div class="form-group row" ng-hide="isRefreshTokensAvailable">
                        <p>No account?<a href="#/signup"><font color="dodgerblue"><strong>   Create one</strong></font></a>.</p>
                    </div>

                    <div class="form-group row">
                        <button type="submit" class="btn btn-outline-primary" ng-disabled="loginForm.$invalid && !isRefreshTokensAvailable" ng-click="login()">Login</button>
                    </div>

                    <div class="form-group row">
                        <div style="color:red;">{{message}}</div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>-->
