<div ng-controller="loginController">
    <div class="container">
        <form name="loginForm" style="margin-top:20px"  novalidate>
            <fieldset>
                <legend>Login</legend>
                <div style="margin-left:15px">
                    <div class="form-group row">
                        <label for="emailAddress">Account Name / Email</label>
                        <input type="text" class="form-control" id="emailOrUserNameId" name="emailOrUserName" ng-model="loginData.emailOrUserName" placeholder="Account Name / Email" required>
                        <small id="passwordConfirmHelp" style="color: red;" ng-show="loginForm.emailOrUserName.$error.required && loginForm.emailOrUserName.$dirty">Please enter an account name or an email address.</small>
                    </div>
                    <div class="form-group row">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="passwordId" name="password" ng-model="loginData.password" placeholder="Password" required>
                        <small id="passwordHelp" style="color: red;" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Please enter a password.</small>
                    </div>
                    <div class="form-group row">
                        <p>No account?<a href="#/signup"><font color="dodgerblue"><strong>   Create one</strong></font></a>.</p>
                    </div>

                    <div class="form-group row">
                        <button type="submit" class="btn btn-outline-primary" ng-disabled="loginForm.$invalid && !refreshTokenByPass" ng-click="login(loginData)">SignUp</button>
                    </div>

                    <div class="form-group row">
                        <div style="color:red;">{{message}}</div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div>
            <button type="submit" class="btn btn-outline-primary" ng-click="relocate()">Refresh Token</button>
        </div>
    </div>

</div>